@import "normalize";
@include normalize();

$serifFont: 'Playfair Display', Georgia, serif;
$sansFont: 'Raleway', sans-serif;

body {
  background-color: #eee;
  font-family: $sansFont;
}

p { line-height: 1.4; }

.top {
  height: 100vh;
  position: relative;
  &__dots {
    position: absolute; bottom: 2rem; left: 50%; list-style: none outside; margin: 0; padding: 0; transform: translateX(-50%);
    li { float: left; padding: 0.25em;
      &.slick-active {
        button {
          &:before {
            content: '\f111';
          }
        }
      }
    }
    button { padding: 0; margin: 0; border: none; background: transparent; color: #fff; font-size: 0;
      &:before {
        content: '\f1db'; font-family: FontAwesome; font-size: 0.7rem;
      }
    }
  }
}

.slide {
  background-size: cover;
  background-position: center center;
  height: 100%;
  &--sunflowers { background-image: url('/images/top/sunflowers.jpg'); }
  &--pavarotti { background-image: url('/images/top/01-Pavarotti.jpg'); }
  &--baryshnikov { background-image: url('/images/top/01-Baryshnikov.jpg'); }
}

.slick-list { height: 100%; }
.slick-track { height: 100%; }

.logo { font-weight: 700; font-family: $serifFont; }

.container { max-width: 1300px; margin-left: auto; margin-right: auto; }
.container-text { max-width: 800px; margin-left: auto; margin-right: auto; }

.main-header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: transparent;
  height: 80px;
  color: #fff;
  transition: all 0.25s;

  &--sticky {
    box-shadow: 0 0 5px rgba(0,0,0,0.6); background-color: #fff; color: #333;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__link { text-decoration: none; color: currentColor; }
}

.main-nav { display: flex; align-items: center; line-height: 1.5; color: currentColor;
  &__list { list-style: none outside; margin: 0; padding: 0; display: flex; height: 100%; }
  &__item {display: flex;  height: 100%; }
  &__link { font-weight: 500; padding-left: 1em; padding-right: 1em;  display: flex; text-align: center; text-decoration: none; color: currentColor; text-transform: uppercase; font-size: 0.8em; justify-content: center; align-items: center; flex-direction: column;height: 100%;
    .main-nav__link-text, .fa { transform: translateY(-5px); transition: all 0.25s; }
    .fa { margin-left: auto; margin-right: auto; font-size: 2em; margin-bottom: 0.25rem; opacity: 0; transition-delay: 0.05s; transition: all 0.5s; color: currentColor; }
    &:hover {
      .main-nav__link-text, .fa { transform: translateY(0); }
      .fa { opacity: 1; }
    }
  }
  &__link-text { letter-spacing: 0.02em; }
}

.page-section { padding: 3rem 1rem; }

.section-header { text-align: center; font-family: $serifFont; font-size: 1.75rem; }

.gallery { list-style: none outside; margin: 0; padding: 0; display: flex; flex-wrap: wrap;
  &__item { padding: 1em;}
}
